<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834533946583-8p8qnlan17mdebdc2n8tu59ad9fr845a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834533946583-8p8qnlan17mdebdc2n8tu59ad9fr845a</string>
	<key>API_KEY</key>
	<string>AIzaSyCewSD9F0FuKjTrWVwKbP3TBBA8SQz2cjo</string>
	<key>GCM_SENDER_ID</key>
	<string>834533946583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.floriansabate.netflox</string>
	<key>PROJECT_ID</key>
	<string>netflox-354710</string>
	<key>STORAGE_BUCKET</key>
	<string>netflox-354710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834533946583:ios:9d478b7dc440638dceec92</string>
</dict>
</plist>